* {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pregunta {
  background-color: white;
  margin-top: 30px;
  text-align: center;
  width: 75vw;
  max-width: 500px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Podkova;
}

.juegoTerminado {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.809);
  width: 100vw;
  height: 100vh;

  .correctas {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    border-radius: 8px;
    width: 75vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      margin-left: 20px;
      font-family: Podkova;
      font-size: 12px;
      text-align: left;
    }

    h2 {
      text-align: left;
      margin-left: 20px;
      font-size: 16px;
    }
  }

  .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    border-radius: 8px;
  }

  .acertadas {
    font-family: Poppins;
  }

  h2 {
    font-family: Podkova;
    text-align: center;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  display: flex;
  gap: 15px;

  .playAgain {
    background-color: rgb(255, 67, 67);
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    color: white;
    font-family: Podkova;
    cursor: pointer;
  }

  .viewCorrects {
    background-color: rgb(67, 255, 83);
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    color: black;
    font-family: Podkova;
    cursor: pointer;
  }
}
